<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="description"
        content="Découvrez Orb'E, l'assistant personnel intelligent et innovant. Jouez à notre mini-jeu interactif, cumulez des points et bénéficiez de réductions exclusives sur votre achat. Un mélange unique de technologie !"> -->
    <meta name="language" content="fr">
    <meta name="Geography" content="Vannes, FR, 56000">

     <!--<link rel="icon" href="./publique/images/logo/favicon.png" type="image/x-icon">-->
    <link rel="stylesheet" href="./publique/css/style.css">
    <title>twigytwig</title>
</head>

<body>

    <main>
        {% block title %}{% endblock %}
        {% block content %}{% endblock %}
    </main>
    
</body>

</html>

